<table class="table">
<thead>
<tr>
<th scope="col">#</th>
<th scope= "col">Name</th>
<th scope="col">Email</th>
<th scope= "col">Designation</th>
  <th scope="col">Salary</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let emp of employees; let i = index">
<th scope="row">{{ i + 1 }} </th>
<td>{{ emp.name }}</td>
<td>{{ emp.email }}</td>
<td>{{ emp.designation }}</td>
<td>{{ emp.salary }}</td>
<td>
<span (click)="removeEmp(emp)" class="btn btn-danger">Delete</span> &nbsp;
<span routerLink="/update/{{emp.id}}" class="btn btn-primary">Edit</span>
</td>
</tr>
</tbody>
</table>
